<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Cowboy Bebop wiki</title>
    <link rel="icon" type="image/png" href="{{ static_url('img/favicon.png') }}">
    <link href="{{ static_url('css/base.css') }}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{{ static_url('js/angular.min.js') }}" charset="utf-8"></script>
    <script type="text/javascript" src="{{ static_url('js/app.js') }}" charset="utf-8"></script>
</head>
<body>
    {% block content %}
    {% end %}
</body>
</html>
